html {
  box-sizing: border-box;
  
}
body {
  font-size: 14px;
}
.v104_33 /*ecran entier*/{
  width: 150%;
  height: 150%;
  background: rgba(5,7,6,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_35 /*background 1*/{
  width: 100%;
  height: 100%;
  background: rgba(12,25,16,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v104_43 /*Titre*/{
  width: 517px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: -40px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}

.v104_43 a{
  text-decoration: none;
  color: #437850;
  border-bottom: 3px solid #FFFF;
}

.v104_45 /*Galerie*/{
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 760px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 13px;
  opacity: 0.5;
}

.v104_45 a{
  text-decoration: none;
  color: #FFFF;
  border-bottom: 1px solid #FFFF;    
}

.v104_46 /*Comment*/{
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 870px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 13px;
  opacity: 0.5;
}

.v104_46 a{
  text-decoration: none;
  color: #FFFF;
  border-bottom: 1px solid #FFFF;    
}

.v104_48 /*Qui*/{
  text-decoration: none;
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 1100px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 13px;
  opacity: 0.5;
}

.v104_48 a{
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.v104_52 /*image 4*/{
  width: 120px;
  height: 120px;
  background: url("file:///C:/Users/BETHEL/OneDrive/Bureau/NFT%20FACTORY/Image/4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 20px;
  overflow: hidden;
}

.v104_53 /*image 5*/{
  width: 150px;
  height: 150px;
  background: url("file:///C:/Users/BETHEL/OneDrive/Bureau/NFT%20FACTORY/Image/5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 1100px;
  overflow: hidden;
}

.v104_55 /*texte*/{
  width: 800px;
  height: 63px;
  position: absolute;
  top: 175px;
  left: 240px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.v104_56 /*Fond bouton Mail*/{
  position: absolute;
  width: 450px;
  height: 50px;
  top: 600px;
  left: 410px;
  background: #FFFFFF;
  border-radius: 50px;
}

.v104_57 /*Mail*/{
  width:430px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 612px;
  left: 420px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.v104_58 /*Nom*/{
  width: 800px;
  height: 63px;
  position: absolute;
  top: 270px;
  left: 240px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.v104_59 /*Merci*/{
width: 800px;
  height: 63px;
  position: absolute;
  top: 680px;
  left: 240px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.v104_60 /*Rectanglearr*/{
  position: absolute;
  width: 1000px;
  height: 600px;
  top: 140px;
  left: 140px;
  background: #725976;
  border-radius: 50px;
}
