html {
  box-sizing: border-box;
  
}
body {
  font-size: 14px;
}
.v104_33 /*ecran entier*/{
  width: 150%;
  height: 150%;
  background: rgba(5,7,6,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_35 /*background 1*/{
  width: 100%;
  height: 100%;
  background: rgba(12,25,16,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v104_43 /*Titre*/{
  width: 517px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: -40px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}

.v104_43 a{
  text-decoration: none;
  color: #437850;
  border-bottom: 3px solid #FFFF;
}


.v104_45 /*Galerie*/{
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 760px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 13px;
  opacity: 0.5;
}

.v104_45 a{
  text-decoration: none;
  color: #FFFF;
  border-bottom: 1px solid #FFFF;    
}

.v104_46 /*Comment*/{
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 870px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 13px;
  opacity: 0.5;
}

.v104_46 a{
  text-decoration: none;
  color: #FFFF;
  border-bottom: 1px solid #FFFF;    
}

.v104_48 /*Qui*/{
  text-decoration: none;
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 1100px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 13px;
  opacity: 0.5;
}

.v104_48 a{
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.v104_52 /*image 4*/{
  width: 120px;
  height: 120px;
  background: url("../Image/4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 1;
  position: absolute;
  top: 117.06px;
  left: 40px;
  overflow: hidden;
}

.v104_53 /*image 5*/{
  width: 150px;
  height: 150px;
  background: url("../Image/5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 1100px;
  overflow: hidden;
}

.v104_54 /*texte*/{
  width: 1000px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 220px;
  left: 150px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 27px;
  opacity: 1;
  text-align: justify;
}

.v104_55 /*JACOB*/{
  width: 1000px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 530px;
  left: 150px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 20px;
  opacity: 1;
  text-align: justify;
}

.v104_56 /*BOGNINI*/{
  width: 1000px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 530px;
  left: 400px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 20px;
  opacity: 1;
  text-align: justify;
}

.v104_57 /*AUSPITZ*/{
  width: 1000px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 530px;
  left: 650px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 20px;
  opacity: 1;
  text-align: justify;
}

.v104_58 /*AIT*/{
  width: 1000px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 530px;
  left: 920px;
  font-family: IBM Plex Mono;
  font-weight: Lighter;
  font-size: 20px;
  opacity: 1;
  text-align: justify;
}

.v104_59 /*image Jonax la menace*/{
  width: 150px;
  height: 250px;
  background: url("../Image/jonathan.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 160px;
  overflow: hidden;
}
.v104_60 /*image Ehita*/{
  width: 150px;
  height: 250px;
  background: url("../Image/ehita.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 410px;
  overflow: hidden;
}
.v104_61 /*image Quentin*/{
  width: 150px;
  height: 250px;
  background: url("../Image/quentin.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 680px;
  overflow: hidden;
}
.v104_62 /*image Amin*/{
  width: 150px;
  height: 250px;
  background: url("../Image/amin.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 45%;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 950px;
  overflow: hidden;
}